<!-- Las librerias js de bootstrap y jquery se configuran en
C:\Users\ISSCJRMP\Documents\ISSC811\Peimbert\wsa-dashboard\angular.json -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <div class="navbar-brand navbar-expand">
     <img
       src="https://docs.google.com/uc?export=download&id=142repMoUHKiHUEbpqHowl_iZzaVgb0hy"
       alt="logo"
       style="width: 40px;"
     />
   </div>
 
   <a class="navbar-brand" href="https://github.com/isscjrmpacheco"
     >ISSC 811 José Roberto Mejía Pacheco</a
   >
 
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item ">
         <a class="nav-link active" [routerLink]="['Pie']"
           >Grafica Pie <span class="sr-only">(current)</span></a
         >
       </li>
       <li class="nav-item ">
         <a class="nav-link active" [routerLink]="['Bar']">Gráfica de Barras</a>
       </li>
     </ul>
   </div>
 </nav>
</nav>
